html,body,#root {
  height: 100%;
}
.Nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.Nav li {
  text-align: center;
  flex: 1;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  height-max: 100vh;
}

.App-main{
  flex: 1;
  overflow: scroll;
}

.Nav .NavBtn{
  width: 100%;
  height: 56px !important;
}

.pickDay{

}

